In [3]:
list(range(7,10))

[7, 8, 9]

In [4]:
val = (7,10)
list(range(*val))   #unpack values

[7, 8, 9]

In [6]:
val_list= [7,10]
list(range(*val_list))

[7, 8, 9]

In [16]:
#lambda func
st = "Hello I am dhvani"
rev_upper = lambda string: string.upper()[::-1]  #function def

rev_upper(st)

'INAVHD MA I OLLEH'

In [20]:
def func(n):
    return lambda x: x*n 
a = func(2)
print(a(10))

20

In [30]:
a = 10
mult = lambda c:c*a
mult(2)
    
#print(mult)

20

In [37]:
#set
myset = frozenset(["A", "b", "c"])
print(myset)
 
# Adding element to the set
#myset.add(9)
print(myset)

frozenset({'b', 'A', 'c'})
frozenset({'b', 'A', 'c'})

In [43]:
a = {3,5,6,7}
b = {3,'a',6,'b'}
print("Union:",a|b)
print("Intersection:", a&b)
print("Difference:", a-b)
print("Symmetric Difference:",a^b)

Union: {3, 5, 6, 7, 'b', 'a'}
Intersection: {3, 6}
Difference: {5, 7}
Symmetric Difference: {5, 7, 'b', 'a'}

In [84]:
#dictionaries
fruits = {"kiwi": 1.00, "banana": 0.75, "cherry": 1.50}
print(fruits["banana"])
fruits["orange"] = 2.00
fruits["banana"] = 2.5

0.75

In [85]:
fruits

{'kiwi': 1.0, 'banana': 2.5, 'cherry': 1.5, 'orange': 2.0}

In [86]:
sorted_fruits_key = sorted(fruits.items())          #sort on the basis of key

In [87]:
sorted_fruits_key

[('banana', 2.5), ('cherry', 1.5), ('kiwi', 1.0), ('orange', 2.0)]

In [88]:
sorted_fruits_value = sorted(fruits.items(), key=lambda x: x[1])    #sort on the basis of value

In [89]:
sorted_fruits_value

[('kiwi', 1.0), ('cherry', 1.5), ('orange', 2.0), ('banana', 2.5)]

In [112]:
#nested dict
dict2= {'A': 'c', 'B': 'd', 'C': 'e'}
dicti = {1: 'a', 2: 'b',3: {'A': 'c', 'B': 'd', 'C': 'e'}}

print(dicti)

{1: 'a', 2: 'b', 3: {'A': 'c', 'B': 'd', 'C': 'e'}}

In [113]:
#add ele to dict
dicti[4] = 'g'
print(dicti)
dict2["D"]= "f"
print(dict2)

{1: 'a', 2: 'b', 3: {'A': 'c', 'B': 'd', 'C': 'e'}, 4: 'g'}
{'A': 'c', 'B': 'd', 'C': 'e', 'D': 'f'}

In [114]:
#insert multiple vals in dict
dicti[5] = 2, 3, 4
print(dicti)

{1: 'a', 2: 'b', 3: {'A': 'c', 'B': 'd', 'C': 'e'}, 4: 'g', 5: (2, 3, 4)}

In [119]:
#accessing dict elements
print(dicti.get(3))

{'A': 'c', 'B': 'd', 'C': 'e'}

In [124]:
#accessing nested dict elements
Dict= {'dict1':{1:"a", 2:"b"}, 'dict2':{'A':1, 'B':2}}

In [129]:
print(Dict["dict1"][1])
print(Dict["dict1"][2])
print(Dict["dict2"]["A"])

a
b
1